<!DOCTYPE html>
<html>
<body>
<h1>My cool API</h1>
<form action="/get_measurements" method="get" class="form-example" target="">
    <label for="key">API key</label>
    <input type="text" name="apikey" id="apikey" required>
    <label for="lat">Latitude</label>
    <input type="number" name="lat" id="lat" step="0.0001" required>
    <label for="lon">Longitude</label>
    <input type="number" name="lon" id="lon" step="0.0001" required>
    <input type="submit" value="Submit!">
</form>

</body>
</html>