<!DOCTYPE html>
<html>
<body>
    <h2>Your request:</h2>
    <p>{{ error }}</p>
    <p>PM1 {{ pm1 }}</p>
    <p>PM10 {{ pm10 }}</p>
    <p>PM25 {{ pm25 }}</p>

    <h2>Paris</h2> 
    <p>PM1 {{ paris_pm1 }}</p>
    <p>PM10 {{ paris_pm10 }}</p>
    <p>PM25 {{ paris_pm25 }}</p>

    <h2>Beijing</h2> 
    <p>PM1 {{ beijing_pm1 }}</p>
    <p>PM10 {{ beijing_pm10 }}</p>
    <p>PM25 {{ beijing_pm25 }}</p>

    <h2>Geneva</h2> 
    <p>PM1 {{ geneva_pm1 }}</p>
    <p>PM10 {{ geneva_pm10 }}</p>
    <p>PM25 {{ geneva_pm25 }}</p>

</body>
</html>